:root {
    /* Define default theme */
    --body-background: var(--body-background-dark);
    --text-color: var(--text-color-dark);
    --secondary-background: var(--secondary-background-dark);
    --foreground-color: var(--foreground-color-dark);
    --navbar-background: var(--navbar-background-dark);
    --navbar-text-color: var(--navbar-text-color-dark);
    --navbar-hover-background: var(--navbar-hover-background-dark);
    --link-color: var(--link-color-dark);

    /* Dark Theme */
    --body-background-dark: rgba(21, 8, 77, 0.95); /* Deep dark frosted glass purple */
    --text-color-dark: #E0E0E0; /* Light grey */
    --secondary-background-dark: rgba(43, 37, 72, 0.85); /* Darker purple */
    --foreground-color-dark: #FFFFFF; /* White */
    --navbar-background-dark: rgba(255, 255, 255, 0.7);
    --navbar-text-color-dark: #E0E0E0; /* Light grey */
    --navbar-hover-background-dark: rgba(255, 255, 255, 0.9);
    --link-color-dark: #C284E3; /* Soft purple */

    /* Light Theme */
    --body-background-light: linear-gradient(270deg, #bdc3c7, #2c3e50);    --text-color-light: #333; /* Dark grey */
    --secondary-background-light: rgba(220, 198, 234, 0.85); /* Brighter purple */
    --foreground-color-light: #000000; /* Black */
    --navbar-background-light: rgba(0, 0, 0, 0.7);
    --navbar-text-color-light: #333; /* Dark grey */
    --navbar-hover-background-light: rgba(0, 0, 0, 0.9);
    --link-color-light: #7D5BA6; /* Dark purple */

    /* Common Properties */
    --border-radius-navbar: 15px;
    --transition-duration: 0.3s;
    --link-margin: 15px;
    --link-font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-background);
    color: var(--text-color);
    transition: background-color var(--transition-duration), color var(--transition-duration);
}
canvas#lamp-anim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Puts the canvas behind all other content */
    pointer-events: none; /* Ensures clicks pass through to elements below */
}
/* Apply styles for dark theme */
body.dark-theme {
    --body-background: var(--body-background-dark);
    --text-color: var(--text-color-dark);
    --secondary-background: var(--secondary-background-dark);
    --foreground-color: var(--foreground-color-dark);
    --navbar-background: var(--navbar-background-dark);
    --navbar-text-color: var(--navbar-text-color-dark);
    --navbar-hover-background: var(--navbar-hover-background-dark);
    --link-color: var(--link-color-dark);
}

/* Apply styles for light theme */
body.light-theme {
    --body-background: var(--body-background-light);
    --text-color: var(--text-color-light);
    --secondary-background: var(--secondary-background-light);
    --foreground-color: var(--foreground-color-light);
    --navbar-background: var(--navbar-background-light);
    --navbar-text-color: var(--navbar-text-color-light);
    --navbar-hover-background: var(--navbar-hover-background-light);
    --link-color: var(--link-color-light);

}

/* Styles for the navbar */
.navbar {
    background: var(--navbar-background);
    color: var(--navbar-text-color);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius-navbar);
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color var(--transition-duration);
}

.navbar a {
    text-decoration: none;
    color: var(--link-color);
    margin: var(--link-margin);
    font-weight: var(--link-font-weight);
    transition: color var(--transition-duration);
}

.navbar:hover {
    background: var(--navbar-hover-background);
}

/* Rest of the content styling */
.content {
    margin-top: 60px;
    /* Add more content styles here */
}

/* Specific element styles */
h1, h2, h3, h4, h5, h6 {
    color: var(--foreground-color); /* Titles color */
    /* Add more styles for headings */
}

p, li, a {
    color: var(--text-color); /* Text color */
    /* Add more styles for text elements */
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 28px;
  margin: auto;
  background: #83d8ff; /* Default to light mode background */
  border-radius: 24px;
  transition: background-color 0.3s linear;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  overflow: hidden; /* Hide the overflow to keep rounded edges */
}

.toggle-switch label:before {
  content: "☀️"; /* Sun icon */
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: .4s;
  text-align: center;
  line-height: 20px;
}

.toggle-switch input:checked + label {
  background: #091921; /* Dark mode background */
}

.toggle-switch input:checked + label:before {
  content: "🌑"; /* Moon icon */
  transform: translateX(32px); /* Move to the right */
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white for the moon */
}




.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

}


.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label {
  top: -5px;
}
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #ffffff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px;
  font-size: 0.9em;
  color: #fff;
}

.forget label:nth-child(2) {
  order: 1;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label input[type="checkbox"] {
  margin-right: 6px;
}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}