{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

  <div class="form-box">
    <div class="form-value">
      <form action="" method="POST">
        <h2>Sign Up</h2>
        <div class="inputbox">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email"
                 name="email"
                 required>
          <label for="email">email</label>
        </div>
        <div class="inputbox">
          <input type="text"
                 name="username"
                 required>
          <label for="username">Username</label>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password"
                 name="password"
                 required>
          <label for="password">Password</label>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password"
                 name="password-confirm"
                 required>
          <label for="password-confirm">Cofirm Password</label>
        </div>
        <div class="forget">
          <label>
            <input type="checkbox"> Remember me
          </label>
          <label>
            <a href="#">Forgot password?</a>
          </label>
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>

{% endblock %}
